*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
}

.top-head{
    background: #fff;
    padding: 40px;

    img{
        height: 65px;
        width: auto;
    }

    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hero-button{
    background: white;
    height: 60px;
    width: 55%;
    margin-top: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    &:hover{
        opacity: 0.6;
    }

}

.container-template{
    position: relative;

    .text-bubble{
        position: absolute;
        bottom: 15%;
        left: 5%;
        color: white;
        justify-content: center;

        p{
            width: 60%;
        }

        button{
            @extend .hero-button;
        }
    }

    .img-container{
        display: flex;

        img{
            width: 100%;
            height: auto;
        }
    }

}

.container-hero{
    @extend .container-template;

    .img-container{
        background: black;

        img{
            opacity: 0.7;
        }
    }
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 7% 10% 7% 10%;
    font-weight: 100;
    font-size: 1.6em;
    line-height: 1.4;
}

.container-purple{
    @extend .container-template;
    background: rgba(172, 171, 171, 0.055);

    .img-container{
        display: flex;
        flex-direction: column;
    }

    .white-front{
        background: url('../images/purple-texture.jpg');
        display: flex;
        background-size: contain;
        font-weight: bold;
        font-size: 2.5em;
        background-clip: text;
        color: rgba(0, 0, 0, 0.2);
        padding: 10%;
        
        .lav-shirt{
            display: flex;
            position: absolute;
            bottom: 6%;
            width: auto;
            max-width: 45%;
            max-height: 70%;
            border: 4px solid white;
            box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.042);
        }
    
        .lav-col{
            align-self: flex-end;
    
            button{
                @extend .hero-button;
                background: black;
                color: white;
                font-size: 0.5em;
                width: 100%;
            }
        }
        
    }
}

.container-pink{
    @extend .container-purple;

    .img-container{
        flex-direction: row;
    }

    .white-front{
        background: url('../images/pink-texture.jpg');
        background-size: contain;
        font-weight: bold;
        font-size: 2.5em;
        background-clip: text;
        color: rgba(0, 0, 0, 0.2);
        padding: 10%;

        .lav-shirt{
            margin-left: 40%;    
        }
    }
    
}

.banner-of-benefits{
    position: relative;
    width: 100%;
    background: rgba(120, 113, 143, 0.836);
    display: flex;
    padding: 5%;
    overflow: hidden;
    justify-content: center;

    .img-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p{
            text-align: center;
            font-size: 1em;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.3;
            margin-top: 5px;
            z-index: 1;
        }
    
        img{
            height: auto;
            width: 60%;
        }
    }

    .sleeves{
        justify-content: flex-end;
    }

}

.shirts-cause-pushups{
    background: url('../images/bottom-image.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    width: 100%;

    .img-container{
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            width: 100%;
            visibility: hidden;
        }
        
        .btn-container{
            position: absolute;
            display: flex;
            align-self: center;
            justify-content: center;
            width: 55%;
            height: 17%;

            .pushup-button{
                @extend .hero-button;
                align-items: center;
                margin: 0;
                font-size: 1.3em;
                height: 100%;
                width: 100%;
            }
        }
    }
}